*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
    position: relative;
    
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    margin: auto;
    text-align: center;
}
.vedio-wrap{
    position:absolute;
    top:0; 
    left:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.vedio-wrap video{
    min-width: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(15, 15, 240);
    z-index: 1;
    opacity: 0.2;
}
.header-container{
    z-index: 2;
}
.header-container h1{
    font-size: 38px;
    margin: 20px;
}
.header-container p{
    display: block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

.btn{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    text-decoration: none;
    color:white;
}
.section-a h1, .section-b h1{
    background: #fff;
    color:#000;
    padding: 20px 0;
}
.section-a{
    text-align: center;
    background: black;
    color: whitesmoke;
}
@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}